@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

body,
html {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #ff0054;
  border-radius: 100px;
  border: 3px solid #f9f9f9;
  background-clip: padding-box;
}

.nav-links .links {
  color: #000;
  transition: all 0.3s;
  font-size: small;
  font-weight: 500;
}

.nav-links .links:hover {
  color: #ff0054;
}

.icons span {
  color: #ff0054;
  cursor: pointer;
  height: 20px;
  padding: 15px;
  border-radius: 50%;
  transition: all 0.3s;
}

.icons span:hover {
  background-color: rgba(65, 65, 65, 0.249);
}